/* GLOBALS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #e9d4bf;
    font-family: 'Lobster', cursive;
    letter-spacing: 0.1em;
    margin: 0 auto;
    min-width: 600px;
    text-align: center;
}

/* Style the page */
h1{
    font-size: 2.5em;
    letter-spacing: 0.2em;
    margin: 0;
    text-shadow: 1px 1px #f2e7da;
}

h3{
    color:#322725;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 10px;
}

div{
    margin: 0;
}

input{
    font-family: 'Lobster', cursive;
    background-color: #f5ede3;
    text-align: right;
}

img{
    border: 5px solid #705f55;  
}

.head{
    background-color:#ce8686;
    padding: 20px 0;
}

.inputs{
    background-color: #bfb3a9;
    border-bottom: 2px solid #705f55;
    border-top: 1px solid #c3b7b0;
    padding: 10px 0;
    margin-bottom: 25px;
}

/* BUTTONS */
button{
    background-color:#ce8686;
    border: 2px solid #e2c8ac;
    border-radius: 5px;
    font-family: 'Lobster', cursive;
    padding: 2px 20px;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

button:active{
    background-color:#e2c8ac;;
    border: 2px solid #ce8686;
}

#btn-clr{
    background-color:#705f55;;
    border: 2px solid #a59388;
    color:#fcf9f6;
    font-size: 1em;
    letter-spacing: 0.3em;
    margin-top: 10px;
    width: 300px;
}